@model List<ProficiencyVM>

<form asp-action="Edit" method="post">
    <input type="hidden" value="@ViewData["PcId"]" name="PcId" id="PcId" />

    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-4 d-flex justify-content-start">
                <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Details" asp-route-id="@ViewData["PcId"]">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-4  d-flex justify-content-center">
                <h5> Proficiencies </h5>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a class="btn btn-primary" type="button" id="addRow" asp-action="NewProficiency" asp-controller="Proficienies" asp-route-id="@ViewData["PcId"]"><i class="fas fa-plus"></i></a>
                <button class="btn btn-primary" type="submit" id="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>

    <div id="editorRows" class="container text-center box-shadow">
        <div class="row">
            <div class="col-6 pb-2 pt-2">
                <label>Name</label>
            </div>
            <div class="col-5 pb-2 pt-2">
                <label>Type</label>
            </div>
            <div class="col-1 pb-2 pt-2">

            </div>
        </div>
        @foreach (var proficiency in Model)
        {
            <partial name="_ProficiencyEdit" model="proficiency" />
        }
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/js/dynamicItemsEdit.js"></script>
    <script>
        const { search } = window.location;
        const errorCode = (new URLSearchParams(search)).get('errorCode');
        if (errorCode === '0') {
            toast('success', 'Data was successfully saved!');
        }
        else if (errorCode === '1') {
            toast('danger', 'Something went wrong while saving data...');
        }
        else if (errorCode === '2') {
            toast('danger', 'Provided data is invalid!');
        }

        function prepareData() {
            var Id = $("input[name='PcId']").val();
            var Proficiencies = [];

            var namesLen = $("input[name='Name']").length;

            for (let i = 0; i < namesLen; i++) {
                Proficiencies.push({ "Name": null, "Type": null, "Id": null, "PcId": Id });
            }

            $("input[name='Name']").each(function (i) {
                Proficiencies[i].Name = $(this).val();
            });

            $("select[name='Type']").each(function (i) {
                Proficiencies[i].Type = $(this).children("option").filter(":selected").text();
            });

            $("input[name='ProficiencyId']").each(function (i) {
                if ($(this).val() !== "") {
                    Proficiencies[i].Id = $(this).val();
                }
            });
            return { "Id": Id, "Proficiencies": Proficiencies }
        }

        $("#submit").click(function (e) {
            e.preventDefault();
            saveData('/proficiencies/edit', prepareData());
        });
    </script>
}






