@model ErrorVM
@{
    ViewData["Title"] = "Ops...";
}

<div class="container">
    <div class="row d-flex justify-content-center align-content-center" style="width: inherit;">
        <div class="alert alert-danger mt-2 mb-1 text-center box-shadow" style="width: inherit;">
            <h1>Error</h1>
            <p>We're sorry, but an error has occurred.</p>
            <hr />
            <p>Status code: @Model.StatusCode</p>
            <p>Original path: @Model.OriginalPath</p>
            <p>Error message: @Model.ErrorMessage</p>
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Home" asp-action="Index">
            Return to home page
        </a>
    </div>
</div>