@model List<ItemVM>

<form asp-action="Edit" method="post">
    <input type="hidden" value="@ViewData["PcId"]" name="PcId" id="PcId" />

    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-4 d-flex justify-content-start">
                <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Details" asp-route-id="@ViewData["PcId"]">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-4  d-flex justify-content-center">
                <h5> Items </h5>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a class="btn btn-primary" type="button" id="addRow" asp-action="NewItem" asp-controller="Items" asp-route-id="@ViewData["PcId"]"><i class="fas fa-plus"></i></a>
                <button class="btn btn-primary" type="submit" id="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>


    <div id="editorRows" class="container text-center box-shadow">
        <div class="row d-flex justify-content-between align-items-center pb-3 pt-3">
            <div class="col-3">
                <label>Name</label>
            </div>
            <div class="col-2">
                <label>Quantity</label>
            </div>
            <div class="col-2">
                <label>Weight</label>
            </div>
            <div class="col-4">
                <label>Notes</label>
            </div>
            <div class="col-1">
                <label></label>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <partial name="_ItemEdit" model="item" />
        }
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/js/dynamicItemsEdit.js"></script>
    <script>
        const { search } = window.location;
        const errorCode = (new URLSearchParams(search)).get('errorCode');
        if (errorCode === '0') {
            toast('success', 'Data was successfully saved!');
        }
        else if (errorCode === '1') {
            toast('danger', 'Something went wrong while saving data...');
        }
        else if (errorCode === '2') {
            toast('danger', 'Provided data is invalid!');
        }

        function prepareData() {
            var Id = $("input[name='PcId']").val();
            var Items = [];

            var namesLen = $("input[name='Name']").length;

            for (let i = 0; i < namesLen; i++) {
                Items.push({ "Name": null, "Quantity": 0, "Weight": 0, "Notes": null, "Id": null, "PcId": Id });
            }

            $("input[name='Name']").each(function (i) {
                Items[i].Name = $(this).val();
            });

            $("input[name='Quantity']").each(function (i) {
                Items[i].Quantity = parseInt($(this).val());
            });

            $("input[name='Weight']").each(function (i) {
                Items[i].Weight = parseFloat($(this).val());
            });

            $("input[name='Notes']").each(function (i) {
                Items[i].Notes = $(this).val();
            });

            $("input[name='ItemId']").each(function (i) {
                if ($(this).val() !== "") {
                    Items[i].Id = $(this).val();
                }
            });

            return { "Id": Id, "Items": Items };
        }

        $("#submit").click(function (e) {
            e.preventDefault();
            saveData('/items/edit', prepareData())
        });
    </script>
}






