@*@model InfoDetailsViewModel

<div class="modal fade" id="editInfoDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Info Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form asp-action="EditInfo" asp-controller="Pcs">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="PcId" type="hidden" />
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="AC" class="control-label"></label>
                            <input type="number" asp-for="AC" class="form-control" />
                            <span asp-validation-for="AC" class="text-danger"></span>
                        </div>
                        <div class=" col form-group">
                            <label asp-for="Speed" class="control-label"></label>
                            <input type="text" asp-for="Speed" class="form-control" />
                            <span asp-validation-for="Speed" class="text-danger"></span>
                        </div>
                        <div class=" col form-group">
                            <label asp-for="HitDice" class="control-label"></label>
                            <input type="text" asp-for="HitDice" class="form-control" />
                            <span asp-validation-for="HitDice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="HP" class="control-label"></label>
                            <input type="number" min="1" max="5000" asp-for="HP" class="form-control" />
                            <span asp-validation-for="HP" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="CurrentHP" class="control-label"></label>
                            <input type="number" min="1" max="5000" asp-for="CurrentHP" class="form-control" />
                            <span asp-validation-for="CurrentHP" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="TempHP" class="control-label"></label>
                            <input type="number" min="0" max="5000" asp-for="TempHP" class="form-control" />
                            <span asp-validation-for="TempHP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label asp-for="Inspiration" class="control-label"></label>
                            <input type="checkbox" asp-for="Inspiration" class="form-control" />
                            <span asp-validation-for="Inspiration" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="Proficiency" class="control-label"></label>
                            <input type="number" min="2" max="6" asp-for="Proficiency" class="form-control" />
                            <span asp-validation-for="Proficiency" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="modal-footer justify-content-center align-content-between">
                        <div class="button form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>*@