/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    background-color: #b58f84;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #663628;
    text-decoration: none;
}
a:active {
    color: #663628;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #a68176;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25), 0 20px 40px 0 rgba(0,0,0,0.20);
    display: block;
    margin: 4%;
}

.btn-primary:hover:hover {
    background-color: #b58f84 !important;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.25), 0 20px 40px 0 rgba(0,0,0,0.20);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #a68176;
    border-color: #a68176;
}

.container {
    border-radius: 12px;
}

.container-navbar {
    background-color: #b58f84;
}

/*h1 h2 h3 h4 h5 h6 {
    color: #471d10;
}*/

input[type=checkbox] {
    -ms-transform: scale(0.75); /* IE */
    -moz-transform: scale(0.75); /* FF*/ 
    -webkit-transform: scale(0.75); /* Safari and Chrome */
    -o-transform: scale(0.75); /* Opera */
}

.input {
    border-radius: 12px;
    width: 100%;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .10), 0 15px 30px 0 rgba(0,0,0,0.15);
}

.no-box-shadow {
    box-shadow: 0 0 0 0;
}

.alert-danger {
    background-color: #c4a59b;
    border-radius: 12px;
    border: none;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #D8C0B9;
    background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
