@model List<FeatVM>

<form asp-action="Edit" method="post">
    <input type="hidden" value="@ViewData["PcId"]" name="PcId" id="PcId" />


    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-4 d-flex justify-content-start">
                <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Details" asp-route-id="@ViewData["PcId"]">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-4  d-flex justify-content-center">
                <h5> Feats </h5>
            </div>
            <div class="col-4 d-flex justify-content-end">

                <a class="btn btn-primary" type="button" id="addRow" asp-action="NewFeat" asp-controller="Feats" asp-route-id="@ViewData["PcId"]"><i class="fas fa-plus"></i></a>
                <button class="btn btn-primary" type="submit" id="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>

    <div id="editorRows" class="container text-center box-shadow" >
        <div class="row">
            <div class="col-2 pb-2 pt-2">
                <label>Title</label>
            </div>
            <div class="col-2 pb-2 pt-2">
                <label>Source</label>
            </div>
            <div class="col-2 pb-2 pt-2">
                <label>Source Type</label>
            </div>
            <div class="col-5 pb-2 pt-2">
                <label>Definition</label>
            </div>
            <div class="col-1 pb-2 pt-2">

            </div>
        </div>
        @foreach (var feat in Model)
        {
            <partial name="_FeatEdit" model="feat" />
        }
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/js/dynamicItemsEdit.js"></script>
    <script>
        const { search } = window.location;
        const errorCode = (new URLSearchParams(search)).get('errorCode');
        if (errorCode === '0') {
            toast('success', 'Data was successfully saved!');
        }
        else if (errorCode === '1') {
            toast('danger', 'Something went wrong while saving data...');
        }
        else if (errorCode === '2') {
            toast('danger', 'Provided data is invalid!');
        }

        function prepareData() {
            var Id = $("input[name='PcId']").val();
            var Feats = [];

            var namesLen = $("input[name='Title']").length;

            for (let i = 0; i < namesLen; i++) {
                Feats.push({ "Title": null, "Source": null, "SourceType": null, "Definition": null, "Id": null, "PcId": Id });
            }

            $("input[name='Title']").each(function (i) {
                Feats[i].Title = $(this).val();
            });

            $("select[name='Source']").each(function (i) {
                Feats[i].Source = $(this).children("option").filter(":selected").text();
            });

            $("input[name='SourceType']").each(function (i) {
                Feats[i].SourceType = $(this).val();
            });

            $("textarea[name='Definition']").each(function (i) {
                Feats[i].Definition = $(this).val();
            });

            $("input[name='FeatId']").each(function (i) {
                if ($(this).val() !== "") {
                    Feats[i].Id = $(this).val();
                }
            });
            return { "Id": Id, "Feats": Feats };
        }

        $("#submit").click(function (e) {
            e.preventDefault();
            saveData('/feats/edit', prepareData());
        });
    </script>
}