@model List<DndClassVM>

<form asp-action="Edit" method="post">
    <input type="hidden" value="@ViewData["PcId"]" name="PcId" id="PcId" />

    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-4 d-flex justify-content-start">
                <a class="btn btn-primary btn-md" role="button" asp-area="" asp-controller="Pcs" asp-action="Details" asp-route-id="@ViewData["PcId"]">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-4  d-flex justify-content-center">
                <h5> Classes </h5>
            </div>
            <div class="col-4 d-flex justify-content-end">

                <a class="btn btn-primary" type="button" id="addRow" asp-action="NewDndClass" asp-controller="DndClasses" asp-route-id="@ViewData["PcId"]"><i class="fas fa-plus"></i></a>
                <button class="btn btn-primary" type="submit" id="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>

    <div id="editorRows" class="container text-center box-shadow">
        <div class="row d-flex justify-content-between align-items-center pb-3 pt-3">
            <div class="col-4">
                <label>Name</label>
            </div>
            <div class="col-4">
                <label>Subname</label>
            </div>
            <div class="col-3">
                <label>Lvl</label>
            </div>
            <div class="col-2">

            </div>
        </div>
        @foreach (var dndClass in Model)
        {
            <partial name="_DndClassEdit" model="dndClass" />
        }
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/js/dynamicItemsEdit.js"></script>
    <script>
        const { search } = window.location;
        const errorCode = (new URLSearchParams(search)).get('errorCode');
        if (errorCode === '0') {
            toast('success', 'Data was successfully saved!');
        }
        else if (errorCode === '1') {
            toast('danger', 'Something went wrong while saving data...');
        }
        else if (errorCode === '2') {
            toast('danger', 'Provided data is invalid!');
        }

        function prepareData() {
            var Id = $("input[name='PcId']").val();
            var DndClasses = [];

            var namesLen = $("input[name='Name']").length;

            for (let i = 0; i < namesLen; i++) {
                DndClasses.push({ "Name": null, "Lvl": 0, "Subclass": { "Id": null, "Name": null, "DndClassId": null }, "Id": null, "PcId": Id });
            }

            $("input[name='Name']").each(function (i) {
                DndClasses[i].Name = $(this).val();
            });

            $("input[name='Lvl']").each(function (i) {
                DndClasses[i].Lvl = $(this).val();
            });

            $("input[name='SubclassName']").each(function (i) {
                DndClasses[i].SubclassName = $(this).val();
            });

            $("input[name='DndClassId']").each(function (i) {
                if ($(this).val() !== "") {
                    DndClasses[i].Id = $(this).val();
                }
            });

            return { "Id": Id, "DndClasses": DndClasses };
        }

        $("#submit").click(function (e) {
            e.preventDefault();
            saveData('/dndclasses/edit', prepareData());
        });
    </script>
}